* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
html,
body {
  // font-family: "Rubik", sans-serif;
  display: flex;
  margin: auto;
}

a{
  text-decoration: none;
}
