.subscribe{

  box-shadow: 0px 0px 20px;

  background-color: white;
  width: 1140px;
  height: 234px;
  border-radius: 10px;
  padding: 58px 70px;

  display: flex;
  align-items: center;
  column-gap: 338px;

  position: relative;
  top: -117px;
  margin: 0 auto;
  .subscribe__text{
    .subscribe__title{
      @include styleText($black-bold, 35px, 500);
      width: 371px;
      height: 80px;
      line-height: 45px;
      margin-bottom: 20px;
    }
  }
  .subscribe__button{

    button{
      position: relative;
      width: 250px;
      height: 60px;
      background-color: $red-primary;
      @include styleText(white, 16px , 700);
      line-height: 25px;
      border-radius: 10px;
      border: none;
      &::after{
        content: '';
        background-color: yellow;
        filter: blur(54px);
        border-radius: 10px;
        width: 212px;
        height: 30px;
        position: absolute;
        top: 60px;
        left: 19px;
        z-index: -1;
      }
    }
  }
}